<!-- TODO hints -->
<div id="audio-perfect-pitch-config-pane">
    <h1 class="centered">
        Audio perfect pitch config
    </h1>
    </br>
    <div>
        <div class="puzzle-config-property">
            <label for="audio-perfect-pitch-target-number-of-puzzles">Number of puzzles:&nbsp;</label>
            <input
                id="audio-perfect-pitch-target-number-of-puzzles"
                type="number"
                th:name="${targetNumberOfPuzzlesProp}"
                min="1"
                th:value="${targetNumberOfPuzzles}"
                th:hx-patch="|/api/v1/puzzle/config/perfect-pitch/audio/update/${targetNumberOfPuzzlesProp}|"
                hx-trigger="keyup changed delay:500ms"
                hx-swap="none"
            >
        </div>
        <div class="puzzle-config-property">
            <label for="audio-perfect-pitch-stats-recording">Stats recording:</label>
            <input
                id="audio-perfect-pitch-stats-recording"
                type="checkbox"
                th:name="${statsRecordingProp}"
                th:checked="${statsRecording}"
                th:hx-patch="|/api/v1/puzzle/config/perfect-pitch/audio/update/${statsRecordingProp}|"
                hx-trigger="change"
                hx-swap="none"
            >
            <span class="hint" title="You can disable stats recording if you want to experiment or feel weak and you don't want your training session to ruin the global stats">ⓘ</span>
        </div>
        <div class="puzzle-config-piano-keyboard-property">
            <label class="centered" for="piano-keyboard-AUDIO_PERFECT_PITCH_NOTES_PICKER">Notes:</label>
            <div th:replace="~{piano/piano_keyboard(pianoKeyboardModel=${notesPickerPianoKeyboardModel})}"></div>
        </div>
        <div id="audio-perfect-pitch-root-note" class="puzzle-config-piano-keyboard-property" th:attr="hidden=${inputMode.name() == 'KEYBOARD_AS_PIANO'} ? null : 'hidden'">
            <label for="piano-keyboard-AUDIO_PERFECT_PITCH_ROOT_NOTE_PICKER">
                Root note
                <!-- TODO hint -->
            </label>
            <div th:replace="~{piano/piano_keyboard(pianoKeyboardModel=${rootNotePickerPianoKeyboardModel})}"></div>
        </div>
        <div class="puzzle-config-property">
            <label id="perfect-pitch-input-mode">Input mode:&nbsp;</label>
            <select
                id="perfect-pitch-input-mode"
                th:name="${inputModeProp}"
                th:hx-patch="|/api/v1/puzzle/config/perfect-pitch/audio/update/${inputModeProp}|"
                hx-trigger="change"
                hx-swap="none"
            >
                <option
                    th:each="mode : ${inputModes}"
                    th:value="${mode.name()}"
                    th:text="${mode.name()}"
                    th:selected="${inputMode == mode}"
                ></option>
            </select>
            <span class="hint" title="Piano on the screen - you will see a piano similar on the above one to make guess. Notes as text - you will have to type the note manually in scientific pitch notation">ⓘ</span>
        </div>
        <div class="puzzle-config-property">
            <label for="audio-perfect-pitch-guessing-piano-is-soundless">Guessing piano is soundless:&nbsp;</label>
            <input
                id="audio-perfect-pitch-guessing-piano-is-soundless"
                type="checkbox"
                th:name="${guessingPianoIsSoundlessProp}"
                th:checked="${guessingPianoIsSoundless}"
                th:hx-patch="|/api/v1/puzzle/config/perfect-pitch/audio/update/${guessingPianoIsSoundlessProp}|"
                hx-trigger="change"
                hx-swap="none"
            >
            <span class="hint" title="It's more comfortable to make guesses when piano sounds are disabled. Try to guess with enabled sounds and you will understand.">ⓘ</span>
        </div>
        <div class="centered">
            <button
                class="action-button"
                type="submit"
                hx-trigger="click"
                hx-post="/api/v1/session/perfect-pitch/audio/start"
                hx-target="#main-content"
            >Start</button>
        </div>
    </div>
</div>
