html {
    font-size: 18px;
}

body,
button,
span,
label,
select,
option,
input,
a {
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 100;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.exercise-row {
    position: relative;
    padding-block: 8px;
    padding-inline: 8px;
    background-color: #00b4d8;
    border-radius: 4px;
}

.exercise-type {
    display: none;
    position: absolute;
    left: 100%;
    height: 200%;
    top: 0;
    min-width: max-content;
    border-radius: 4px;
}

.exercise-row:hover .exercise-type {
    display: block;
    border: 2px #00b4d8;
}

.exercise-type-btn {
    display: block;
    width: 100%;
    height: 50%;
    white-space: nowrap;
    text-align: left;
    background: #00b4d8;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.exercise-type-btn:last-child {
    margin-bottom: 0;
}

.exercise-type-btn:hover {
    background-color: #0097d8;
}

.piano-keyboard {
    position: relative;
    width: 100%;
    aspect-ratio: 49 / 6.36;
    box-sizing: border-box;
}

.white-keys-layer,
.black-keys-layer {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    display: grid;
    grid-template-columns: repeat(147, 1fr);
    box-sizing: border-box;
}

.black-keys-layer {
    z-index: 2;
    pointer-events: none;
}

.piano-key.WHITE {
    grid-column: span 3;
    height: 100%;
    background: linear-gradient(to bottom, #fff 0%, #d0d0d0 100%);
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 6px;
    box-sizing: border-box;
    z-index: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.piano-key.BLACK {
    position: relative;
    top: -1px;
    grid-column: span 2;
    height: 60%;
    background: linear-gradient(to bottom, #333 0%, #050505 100%);
    border-bottom: 2px solid #444;
    border-radius: 4px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 4px;
    box-sizing: border-box;
    pointer-events: auto;
    margin-left: -50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.piano-key[data-isSelected="true"].WHITE {
    background: #00b4d8;
    border-bottom-width: 1px;
    transform: translateY(2px);
}

.piano-key[data-isSelected="true"].BLACK {
    background: #0014a9;
    border-bottom-width: 1px;
    transform: translateY(1px);
}

#main-header {
    display: flex;
    gap: 10px;
}

#home-link {
    text-decoration: none;
    color: #000000;
    background: #00b4d8;
    border-radius: 4px;
    padding-block: 2px;
    padding-inline: 8px;
}

a {
    color: #0014a9;
}

.nav-item {
    background: #00b4d8;
    border-radius: 4px;
    color: #000000;
    padding-block: 2px;
    padding-inline: 8px;
}

.dropdown-btn {
    height: 100%;
    width: 100%;
    border: 0px;
    background: #00b4d8;
    color: #000000;
    padding-bottom: 2px;
    padding-inline: 8px;
}

.centered,
.puzzle-config-property {
    display: flex;
    justify-content: center;
}

.puzzle-config-property,
.puzzle-config-piano-keyboard-property,
.puzzle-block,
.stats-block {
    margin-block: 10px;
}

.relative-svg {
    width: 0.87vw;
    height: auto;
}

#puzzle-progress {
    width: 100%;
    height: 35px;
}

.action-button {
    background: #00b4d8;
    border-radius: 4px;
    border: 3px black;
    padding-block: 4px;
    padding-inline: 8px;
    cursor: pointer;
}

.action-button.finish {
    margin-top: 30vh;
}

#perfect-pitch-guessing-textbox {
    width: 3%;
}

#audio-perfect-pitch-stats-table {
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid black;
    border-radius: 6px;
}

#audio-perfect-pitch-stats-table th,
#audio-perfect-pitch-stats-table td {
    border: 1px solid black;
    padding: 4px;
}