<nav th:fragment="exercises-nav" class="exercises-menu">
    <div class="dropdown">
        <button class="dropdown-btn">Exercises</button>
        <div class="dropdown-content">
            <div class="exercise-item">
                <span class="exercise-name">Perfect Pitch</span>
                <div class="exercise-types">
                    <button hx-get="/api/v1/exercise/perfect-pitch/audio" hx-trigger="click" hx-target="#main-content">Audio</a>
                    <button hx-get="/api/v1/exercise/perfect-pitch/visual" hx-trigger="click" hx-target="#main-content">Visual</a>
                </div>
            </div>
            <div class="exercise-item">
                <span class="exercise-name">Coming soon...</span>
            </div>
        </div>
    </div>
</nav>
