<html>
    <head>
        <title>Earking out</title>
        <script src="/js/htmx.js"></script>
        <script src="/js/main.js"></script>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <header>
            <div th:replace="~{exercises :: exercises-nav}">

            </div>
        </header>
        
        <main id="main-content" layout:fragment="content">
            <p>Placeholder content</p>
        </main>
    
        <footer>footer</footer>
    </body>
</html>
