<html>
    <head>
        <title>Earking out</title>
        <script src="/js/htmx.js"></script>
        <script src="/js/main.js"></script>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <header id="main-header">
            <nav class="nav-item">
                <a id="home-link" href="/">Earking out</a>
            </nav>
            <div th:replace="~{exercises}"></div>
            <nav class="nav-item">
                <a href="https://github.com/Slowpool/earking_out" target="_blank">
                    <img
                        src="/GitHub_Invertocat_Black.svg"
                        alt="GitHub"
                        title="GitHub"
                        class="relative-svg"
                    >
                </a>
            </nav>
        </header>
        <main id="main-content" layout:fragment="content">
            <p>Placeholder content</p>
        </main>
        <footer></footer>
    </body>
</html>
