<!DOCTYPE html>
<html xmlns:layout="http://ultraq.net.nz" layout:decorate="~{layout}">
    <head></head>
    <body>
        <div layout:fragment="content">
            <h1>Pick an exercise in the top left corner to start training</h1>
            <button id="github-login-button" class="action-button">
                Login with GitHub
                <img
                    src="/GitHub_Invertocat_Black.svg"
                    alt="GitHub"
                    title="GitHub"
                    class="relative-svg"
                >
            </button>
        </div>
    </body>
</html>
