audio_perfect_pitch.html
<h1>
    Audio perfect pitch
</h1>
</br>
<form>
    <div>
        number of puzzles:
        <input type="number" min="0" th:value="${targetNumberOfPuzzles}">
    </div>
    <div>
        stats recording:
        <input type="checkbox" th:checked="${statsRecording}">
    </div>
    <div>
        input mode:
        <select name="inputMode">
            <option th:each="inputMode : ${inputModes}" th:value="${inputMode.name()}" th:text="${inputMode.name()}"></option>
        </select>
    </div>
    <div>
        guessing piano is soundless:
        <input type="checkbox" th:checked="${guessingPianoIsSoundless}">
    </div>
    <div>
        exercise name:
        <span th:text="${exerciseName}"></span>
    </div>
    <div>
        exercise type:
        <span th:text="${exerciseType}"></span>
    </div>
    <button type="submit">Start</button>
</form>
